<div class="container">
    <div class="row">
        <h5 class="col-md">Welcome, Team Name</h5>
        <h5 class="col-md" id="timeRem">Time Reamining: 30</h5>
    </div>
</div>
<div class="container">
    <hr>
    <div class="row">
        <div class="col-md">
            <p>Which ticker symbol is Apple?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <p>APL</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <p>AAPL</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <p>APLE</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <p>AAPL</p>
        </div>
    </div>

    <script src="/js/start.js">
    </script>